<div class="container">
  <div class="page-header">
    <h1>Flashcard App Profile</h1>
  </div>
  <h1><p>User: <%= current_user.username%></p></h1>
</div>
<div class="container">

  <div class="row">

    <h4> Decks played: <%= @rounds.count %> </h4>
    <p><br><% @rounds.each do |round| %>
        <div class="col-md-6" style="background-color:lightgrey;">
          <h4> Deck name: <%= round.deck.category %> </h4><p><p>
            <h5>Date: <%=round.created_at%> <p><p>
          Cards in Deck: <%= round.cards.count%> <p>
          First Try:
       <%= round.guesses.reduce(Hash.new(0)) do |hash, guess|
              hash[guess.card_id] += 1; hash
           end.select {|k,v| v==1}.count %>
            <p>
            Total guesses: <%= round.guesses.count %> </h5> <p>

          </div>
<br><br><br><br><br><br><br>
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>

    <%end%>
    <p>

   </p>

  </div>

</div>
